<div class="container-fluid">
  <div class="text-center">
    <%= image_tag 'logo.jpg', size: "100x100", class: "inline-image" %>
    <h2 class="inline-image">Burning Airlines - Admin</h2>
  </div>
  <nav>
    <%= render partial: 'layouts/nav'%>
  </nav>

  <footer>
    &copy; 2021 Burning Airlines
  </footer>
</div>
