<p id="notice"><%= notice %></p>

<p>
  <strong>Booking code:</strong>
  <%= @reservation.booking_code %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
