<div class="btn-group special" role="group">
  <%= link_to "Airplanes", airplanes_path, class: "btn btn-secondary"%>
  <%= link_to "Flights", flights_path, class: "btn btn-secondary"%>
  <%= link_to "Resrevations", reservations_path, class: "btn btn-secondary"%>
  <%= link_to "Users", users_path, class: "btn btn-secondary"%>
</div>
